@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Montserrat', sans-serif;
  background-color: #150E28;
}
.gradient{
  background: linear-gradient(to right, #D434FE 65%, #903AFF);
}
.border-custom{
  border-color: linear-gradient(to right, #D434FE 65%, #903AFF);;
}

.hamburger{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25px;
}
.hamburger span{
  position: absolute;
  height: 3px;
  width: 50%;
  background-color: white;
  border-radius: 2px;
}
.hamburger span:nth-child(1){
  transform: translateY(-5px);
}
.hamburger span:nth-child(2){
   width: 100%;
}

.hamburger span:nth-child(3){
  transform: translateY(5px);
  align-self: flex-end;
}
.nav{
  overflow: hidden;
}
.drop-down{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 370px;
  background-color: red;
  width: 100%!important;
  padding: 40px;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}
.drop-downd li{
  margin-bottom: 20px;
}